@import 'styles/compiled.scss';

.navItem {

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        
            li {
                list-style-type: none;
                padding: 0;
                a {
                    color: $Dark;
                    &:hover {
                        text-decoration: none;
                        color: $DarkPrimaryColor;
                    }
            }
        }
    }
}
.authLink {
    &Login {
        a {
            color: $PrimaryColor;
        }
    }
    &Signup {
        a {
            color: $Danger;
        }
    }
}