@import 'styles/compiled.scss';

.mbmenu {
    height: 100%;
    width: 60%;
    background: rgb(1, 85, 19);
    z-index: 999;
    top: 0;
    right: 0;
    padding: 0px 15px;
    position: fixed;
    animation: slide .75s ease-in;
}
.lgmenu {
    width: 90%;
}
@keyframes slide {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 75%;
        opacity: 1;
    }
}
.smnavItem {
    ul {
        padding: 10px 0 0 0;
        margin: 0;
        line-height: 40px;
        li {
            list-style-type: none;
            padding: 0;
            border-bottom: 1px dashed grey;
            a {
                color: #fff;
            }
        }
    }
}
.navItem {

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        
            li {
                list-style-type: none;
                padding: 0;
                margin: 0 3px;
                a {
                    color: $Dark;
                    &:hover {
                        text-decoration: none;
                        color: $DarkPrimaryColor;
                    }
            }
        }
    }
}
.authLink {
    &Login {
        a {
            color: $PrimaryColor;
        }
    }
    &Signup {
        a {
            color: $Danger;
        }
    }
}
.cartCounter {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: #fff;
    padding: 0 3px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    height: 16px;
    min-width: 16px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .navItem ul li {
        margin: 0 15px;
    }
}