$DarkPrimaryColor: #00796B;
$LightPrimaryColor: #B2DFDB;
$PrimaryColor: #009688;
$Grey: #757575;
$LightGrey: #e6e6e652;
$White: #ffffff;
$Dark: #000000;
$Success: #4CAF50;
$LightSuccess: #C8E6C9;
$Danger: #D32F2F;
$LightDanger: #FFCDD2;
$Warning: #FF9A14;