@import 'styles/compiled.scss';

.show {
    display: block;
}
.modal {
    background: #040404c7;
}
#exampleModal {
    overflow-y: scroll;
    height: 100vh;
}
.close {
    span {
        float: right !important;
        color: #ea0404f7;
        text-shadow: 0 1px 0 #848181;
    }
}